.App {
  padding: 152px 101px 0 101px;
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(230, 230, 230, 0.72);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(57, 55, 72, 0.22);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(57, 55, 72, 0.5);
  }
  ::-webkit-scrollbar-thumb:active {
    background: rgba(57, 55, 72, 1);
  }
  button {
    cursor: pointer;
  }
}
